{:did        "did:web:etzhayyim.github.io:com-etzhayyim-yabai"
 :handle     "yabai.etzhayyim.com"
 :ipns-key   "yabai-actor"
 :graph-type "com.etzhayyim.yabai.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
